@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>LogReg</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.0.min.js"></script>
        <style>
            #wrapper {
                padding: 10%;
            }
            button {
                display: inline;
            }
            img {
                width: 20%;
            }
            td {
                margin-left: 4%;
                padding-left: 4%;
            }
        </style>
    </head>
    <body>
        <div id="wrapper" class="ui container">
            <div class="column">
                <div class="ui inverted segment black">
                    <h1>Welcome to Event Planner!</h1>
                    <h3 style="color: lightgreen">Plesae Loginbelow:</h3>
                    <!--Error Messages-->
                     <div>
                        <p>@ViewBag.error</p>
                    </div>
                    <h1>Welcome back, please log in below!</h1>
                    <hr>
                    <!--Login-->
                    <form action="login" method="Post">
                        <table>
                            <tr>
                                <td><label for="email">Email: </label></td>
                                <td><input id="email" style="color: blue;" type="email" name="Email" value=""></td>
                            </tr>
                            <tr>
                                <td><label for="pw">Password: </label></td>
                                <td><input id="pw" style="color: blue;" type="password" name="Password" value="password"></td>
                                <td><td><a href="http://localhost:5000/backtogister">Need to Register?</a></td></td>
                            </tr>
                            <tr>
                                <td><input class="ui inverted blue button" type="submit" name="addquote" value="Login"></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </body> 
</html>