<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Home</title>
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
        <div class="wrap">
            <!--Header w/ navigation bar-->
            <div class="header">
                <h1 class="title">Portfolio: Home</h1>
                <p class="navBar"><a href="http://localhost:5000/home">Home</a>|<a href="http://localhost:5000/projects">Projects</a>|<a href="http://localhost:5000/contact">Contact</a></p>
            </div>
            <!--About Me Section-->
            <h1 class="name">Calin Daniel Enache</h1>
            <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAh3AAAAJDQ2NGFiZjIyLWZhODItNGU0Zi1iMjNmLWVjNTQyNGFlMGZkOA.jpg" class="selfimg">
            <h2>About Me:</h2>
            <p>Professional Technology Management & Services:</p>
            <ul>

            </ul>
                <li>7+ Years creating and managing successful teams</li>
                <li>Loyal, dependable, and trustworthy team player</li>
                <li>Strong leadership skills; able to encourage, correct, and coach others</li>
                <li>Self-motivated, hard-working, problem solver who is able to make solid decisions </li>
                <li>Forward thinking, able to distinguish and consider unintended consequences of particular action or decision</li>
                <li>Dedicated client services professional</li>
                <li>Analytical background with experience in reporting, forecasting, and identifying and tracking key metrics</li>
                <li>Innovative by automating workflows using companies existing technologies to grow efficiency without growing cost </li>
                <li>Developing operational process that scales</li>
                <li>Track record of building effective systems and finding ways to improve existing processes </li>
                <li>Able to effectively communicate across multi-disciplinary functions and skill sets</li>
                <li>Able to listen to others viewpoints and suggestions in order to more effectively achieve company goals</li>
                <li>Proficient with MS Office and demonstrated aptitude for mastering proprietary and specific or industry standard systems</li>
                <li>Profitable partner and vendor relationship-building</li>
            </ul>
        </div>
    </body>
</html>

