<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Projects</title>
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
        <div class="wrap">
            <!--Header w/ navigation bar-->
            <div class="header">
                <h1 class="title">Portfolio</h1>
                <p class="navBar"><a href="http://localhost:5000/home">Home</a>|<a href="http://localhost:5000/projects">Projects</a>|<a href="http://localhost:5000/contact">Contact</a></p>
            </div>
            <!--Projects Section-->
            <h2 class="proj1">Projects:</h2>
            <!--Project 1-->
            <div> 
                <h3>Project 1:</h3>
                <img src="https://content-static.upwork.com/blog/uploads/sites/4/2009/05/project-management.jpg" class="projimg">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque et sem vehicula, elementum mauris quis, viverra neque. Nulla facilisi. Nam sed sagittis urna. Nunc vehicula justo ac turpis gravida, nec iaculis nunc maximus. Etiam et diam nisi. Vivamus aliquam ullamcorper lacus, ac convallis orci cursus nec. Integer lobortis lorem nisi, id hendrerit odio hendrerit maximus.</p>
            </div>
            <!--Project 2-->
            <div> 
                <h3>Project 2:</h3>
                <img src="http://sw5000.com/wp-content/uploads/2016/04/top_10_best_seo_resources1.jpg" class="projimg">
                <p>Suspendisse ac blandit erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut pharetra at arcu vel sagittis. Phasellus interdum accumsan justo, mattis consectetur lorem interdum quis. Aenean sodales tortor lacus, nec pretium justo consequat a. Pellentesque ac magna pharetra, placerat turpis vitae, tincidunt purus. Nam consectetur volutpat luctus. Ut diam nunc, viverra luctus quam vel, cursus fringilla lectus. Sed sed feugiat odio. Phasellus ut metus efficitur, sagittis ante eget, ornare lacus. Integer euismod, nunc a lobortis venenatis, risus ipsum interdum dolor, sed gravida urna arcu a enim. Integer sagittis in sem quis ornare.</p>
            </div>
            <!--Project 3-->
            <div> 
                <h3>Project 3:</h3>
                <img src="http://www.esi-italy.it/wp-content/uploads/2016/07/project-manager-skills.png" class="projimg">
                <p>Ut vitae varius neque. Pellentesque tempus fermentum aliquet. Praesent massa tortor, accumsan sed elementum id, accumsan at lorem. Fusce lobortis nunc a consequat fermentum. Cras non luctus nisl. Vestibulum vitae metus accumsan, elementum justo vel, viverra neque. Mauris quis gravida magna. Nunc at odio id nisi ultrices congue venenatis vel arcu. Nullam iaculis vitae augue non posuere. Quisque consequat lacus et enim pretium posuere. Ut nec molestie est.</p>
            </div>
        </div>
    </body>
</html>