@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Bank Activity</title>
        <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>-->
        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.0.min.js"></script>
        <style>
            #wrapper {
                padding: 10%;
            }
            button {
                display: inline;
            }
            img {
                width: 20%;
            }              
        </style>
    </head>
    <body>
        <div id="wrapper" class="ui container">
            <div class="ui inverted segment black">
                <div id="header">
                <h3><a href="http://localhost:5000/">Dashboard</a> | <a href="">Products</a> | <a href="http://localhost:5000/order">Orders</a> | <a href="http://localhost:5000/customer">Customers</a></h3>
                <hr>
                </div>
                <!--Search/Filter-->
                <div id="SearchFilter">
                <!--Search Btton-->
                    <input style="color: darkblue" name="search" type="text" placeholder="Search...">
                <!--Filter Options-->
                    <label for="filter">Filter By:</label>
                    <select name="fileter" id="filter">
                        <option value="CreatedAt">Oldest</option>
                        <option value="UpdatedAt">Most Recent Ordered</option>
                        <option value="ProductName">Product Name</option>
                        <option value="CustomerName">Customer Name</option>                                                                     
                    </select>
                </div>
                <hr>
                
                
                <!-- Add New Products-->
                <div id="newProducts">
                    <h3 id="title">Add a new product</h3>
                    <form action="AddProduct" method="Post">
                        <label for="name">Name:</label>
                        <input style="color: darkblue" id="name" name="ProductName" type="text" placeholder="name...">
                        <hr>
                        <label for="image">Image (url):</label>
                        <input style="color: darkblue" id="image" name="Image" type="text" placeholder="http://">
                        <hr>
                        <label for="description">Description:</label>
                        <textarea style="color: darkblue" name="ProductDescription" rows="4" cols="19" placeholder="Something descriptive..."></textarea>
                        <hr>
                        <label for="quantity">Initial Quantity:</label>
                        <input style="color: darkblue" id="quantity" name="Quantity" type="number"  placeholder="15">
                        <hr>
                        <input class="ui iverted button blue" type="submit" value="Create">
                    </form>
                </div>
                <!--Products View-->
                <div id="allProducts">
                @{
                    foreach(var prod in @ViewBag.allProducts) {
                        <div id="eachProduct">
                            <img id="prodImage" src="@prod.Image" alt="">
                            <p class="productDescription">@prod.ProductName</p>
                            <p class="productDescription">(@prod.Quantity left)</p>                            
                        </div>
                    }
                }
                </div>
            </div>
        </div>
    </body> 
</html>